body {
  margin: 0;
  margin-top: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

.footer,
.page-header,
.subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../public/img/bg.jpg);
  background-size: cover;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.justify-content-start {
  justify-content: center !important;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgb(123, 186, 211, 0.49) !important;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .container-lg {
    width: 100%; /* Full width on large screens */
  }
}

@media (max-width: 992px) {
  .container-md {
    width: 100%; /* Full width on medium screens */
  }

  .footer,
  .page-header,
  .subscribe {
    padding: 20px; /* Add padding for smaller devices */
  }
}

@media (max-width: 768px) {
  .container-sm {
    width: 100%; /* Full width on small screens */
  }

  .footer,
  .page-header,
  .subscribe {
    background-position: center; /* Center background image */
  }
}

@media (max-width: 576px) {
  .container {
    padding-right: 10px; /* Adjust padding for very small devices */
    padding-left: 10px;
  }

  .footer,
  .page-header,
  .subscribe {
    background-size: contain; /* Adjust background size for very small screens */
  }
}
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}